*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

.header-container {
  background-color: #F72210;
  color: white;
  height: 16vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 95% 100%, 93% 88%, 0 88%);
}

.header-img {
  fill: white;
}

.header-container__col a > svg {
  height: 9vh;
}

.header-container__col > p {
  font-size: 0.8rem;
}

.header-container__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
}

.header-container__link:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

#subscribe {
  color: #F72210;
}

.fa-angle-right {
  color: #F72210;
  font-size: 1.3rem;
}
