*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

.header-container {
  background-color: #F72210;
  color: white;
  height: 16vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 95% 100%, 93% 88%, 0 88%);
}

.header-img {
  fill: white;
}

.header-container__col a > svg {
  height: 9vh;
}

.header-container__col > p {
  font-size: 0.8rem;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.header-container__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.header-container__link:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

#subscribe {
  color: #F72210;
}

.fa-angle-right {
  color: #F72210;
  font-size: 1rem;
}

.nav-container {
  list-style: none;
  border-bottom: 2px solid rgb(235, 235, 235);
}

@media only screen and (max-width: 1000px) {
  .header-container {
    display: flex;
    align-items: center;
  }

  #header-date {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .header-container__col a > svg {
    height: 6vh;
  }

  .navbar-toggler-icon {
    background-color: white !important;
  }
}

@media only screen and (min-width: 999px) {
  #signin-subscribe {
    margin-bottom: 0.9rem; 
  }

  #hidden-collapse {
    display: none;
  }
}

.nav-container ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav-container ul li:not(:last-child) {
  border-left: 1px solid rgb(235, 235, 235);
}

.nav-link {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  -webkit-transform: scale(0.8, 1.2);
  transform: scale(0.8, 1.2);
}

.nav-link:hover{
  text-transform: capitalize;
  text-decoration: none;
  color: #F72862;
  -webkit-transform: scale(0.8, 1.2);
  transform: scale(0.8, 1.2);
}

.searchbox {
  font-size: 0.9;
  width: 55%;
  padding: 2px;
  border: none;
  background-image: url('../img/search-solid.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content;
}

::placeholder {
  font-size: 0.9rem;
  color: rgb(121, 121, 121);
  -webkit-transform: scale(0.8, 1.2);
  transform: scale(0.8, 1.2);
}

.main-container {
  padding-top: 2rem;
  height: auto;
}

.main-container__content-1,
.main-container__content-3 {
  width: 29%;
}

.main-container__content-2 {
  width: 36%;
  height: auto;
}

#top-story, #content-h {
  margin-left: -3.2rem;
}

article picture > img {
  width: 100%;
  height: 90%;
}

.art {
  margin-bottom: 2rem;
  border: 1px solid rgb(226, 226, 226);
}

/* STORIES SECTION */
.stories-section__container--img {
  height: 70%;
}

.stories-section__container--img, .stories-section__container > a, .stories-section__container > div {
  display: inline-block;
}

.stories-section__container > div {
  font-size: 0.8rem;
}

.stories-section__container > a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.stories-section__container > a:hover {
  text-decoration: underline;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.main-container__content-1 > p, .main-container__content-2 > p, .main-container__content-3 > p, .culture-section > h3, .stories-section > h3 {
  text-transform: uppercase;
  margin-left: -2.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(173, 173, 173);
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.stories-section > h3 {
  margin-left: -2.9rem !important;
}

.content-heading {
  margin: 0.8rem 0 0 -2.3rem;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.content-heading a {
  color: black;
}

#main-img {
  width: 100%;
  height: 100%;
}

.content-paragraph {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.culture-section {
  background-color: rgb(226, 226, 226);
}

.culture-travel article > h3 a {
  font-family: "Lora",serif;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.culture-travel__paragraph {
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  color: rgba(39, 39, 39, 0.5);
  font-size: 0.9rem;
}

.culture-travel article picture > img {
  width: 90%;
  height: 35%;
}

.main-container__content-3 ul {
  margin-bottom: 2rem;
}

.main-container__content-3 ul li {
  list-style: none;
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
}

.main-container__content-3 ul li:not(:last-child) {
  border-bottom: 0.5px solid rgb(235, 235, 235);
}

.auth-img, .latest-img {
  width: 30%;
}

.latest-img picture > img {
  width: 100%;
  height: 100%;
}

.auth-content, .latest-content {
  width: 76%;
  text-transform: uppercase;
  color: rgb(112, 112, 112);
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
  margin-left: -1rem;
}


#opinion-1, #opinion-2, #opinion-3, #opinion-4, #opinion-5, #opinion-6 {
  margin-left: -3rem;
}

.content-link {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.content-link:hover {
  text-decoration: none;
  color: #F72862;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.magazine-title {
  text-align: center;
  font-style: bold;
  font-family: "Roboto Condensed",sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  transform: scaleX(0.9);
}

.newsweek-icon > img {
  height: 4vh;
}

#magazine-top-row {
  border-top: 1px solid rgb(177, 177, 177);
}

.article-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.article-link:hover {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.magazine-category, .category-type {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.3rem 0.2rem 0.3rem 0.2rem;
}

.magazine-category {
  color: white;
  background-color: #F72210;
}

.category-type > a {
  text-decoration: none;
  color: #F72210;
  transform: scaleX(0.6);
}

.category-type > a:hover {
  color: #F72210;
}

#art-link-1 {
  transform: scaleX(0.7);
}

#in-focus {
  position: relative;
  top: -1.67rem;
  z-index: 3;
  text-transform: uppercase;
}

