*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

*a {
  text-decoration: none;
}

.header-container {
  background-color: #F72210;
  color: white;
  height: 16vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 95% 100%, 93% 88%, 0 88%);
}

.header-img {
  fill: white;
}

.header-container__col a > svg {
  height: 9vh;
}

.header-container__col > p {
  font-size: 0.8rem;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.header-container__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.header-container__link:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

#subscribe {
  color: #F72210;
}

.fa-angle-right {
  color: #F72210;
  font-size: 1rem;
}

.nav-container {
  list-style: none;
  border-bottom: 2px solid rgb(235, 235, 235);
}

@media only screen and (max-width: 1000px) {
  .header-container {
    display: flex;
    align-items: center;
  }

  #header-date {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .header-container__col a > svg {
    height: 6vh;
  }

  .navbar-toggler-icon {
    background-color: white !important;
  }
}

@media only screen and (min-width: 999px) {
  #signin-subscribe {
    margin-bottom: 0.9rem; 
  }

  #hidden-collapse {
    display: none;
  }
}

.nav-container ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav-container ul li:not(:last-child) {
  border-left: 1px solid rgb(235, 235, 235);
}

.nav-link {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  -webkit-transform: scale(0.8, 1.2);
  transform: scale(0.8, 1.2);
}

.nav-link:hover{
  text-transform: capitalize;
  text-decoration: none;
  color: #F72862;
  -webkit-transform: scale(0.8, 1.2);
  transform: scale(0.8, 1.2);
}

.searchbox {
  font-size: 0.9;
  width: 55%;
  padding: 2px;
  border: none;
  background-image: url('../img/search-solid.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content;
}

::placeholder {
  font-size: 0.9rem;
  color: rgb(121, 121, 121);
  -webkit-transform: scale(0.8, 1.2);
  transform: scale(0.8, 1.2);
}

.main-container {
  padding-top: 2rem;
  height: auto;
}

.main-container__content-1,
.main-container__content-3 {
  width: 29%;
}

.main-container__content-2 {
  width: 38%;
}

#top-story, #content-h {
  margin-left: -3.2rem;
}

article picture > img {
  width: 100%;
  height: 90%;
}

.art {
  margin-bottom: 2rem;
  border: 1px solid rgb(226, 226, 226);
}

.main-container__content-1 > p, .main-container__content-2 > p, .main-container__content-3 > p {
  text-transform: uppercase;
  margin-left: -2.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(173, 173, 173);
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.content-heading {
  margin: 0.8rem 0 0 -2.3rem;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.content-heading a {
  color: black;
}

#main-img {
  width: 100%;
  height: 100%;
}

.content-paragraph {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.main-container__content-3 ul li {
  list-style: none;
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
}

.main-container__content-3 ul li:not(:last-child) {
  border-bottom: 0.5px solid rgb(235, 235, 235);
}

.auth-img {
  width: 20%;
}

.auth-content {
  width: 76%;
  text-transform: uppercase;
  color: rgb(112, 112, 112);
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
  margin-left: -1rem;
}

.content-link {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.content-link:hover {
  text-decoration: none;
  color: #F72862;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.content-author {
  text-transform: uppercase;
  color: rgb(197, 197, 197);
  font-size: 1rem;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}